*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.auth-container{
    width:100%;
    height:100vh;
    display:flex;;
    
}

.auth-left{
    position:relative;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    flex: 0.40;
    position:relative;
}
.auth-left::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(255,255,255,.28);
}
.overlay{

    width:100%;
    height:100%;

    background:rgba(255,255,255,.55);

    display:flex;
    justify-content:center;
    align-items:center;

}

.logo-box{

    text-align:center;

}

.logo-box h1{

    font-size:90px;
    letter-spacing:6px;
    color:#7a7058;

}

.logo-box p{

    font-size:32px;
    color:#7a7058;

}

.auth-right{
    display:flex;
    justify-content:center;
    align-items:center;
    flex: 0.60;
    background:white;
}